<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul class='list-unstyled'>
    <% model.errors.each_message do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
