<footer class='jumbotron'>
  <div class="container">
    <div class="row">
      <div class="col-md-12">

          <div class="col-md-12">
              <ul class='list-unstyled text-center'>
                 <li><h3><%= Date.today.year %>- CODE7EVEN</h3></li>
                 <li><small>&copy DEVCONF Todos os direitos reservados.</small></li>
              </ul>
          </div>

      </div>
    </div>
  </div>
</footer>
